<li class="list-group-item clearfix <%= 'unread' if conversation.is_unread?(current_user) %>">
  <div class="media">
    <div class="media-body">
      <%= link_to conversation.subject, me_conversations_path({box: params[:box], conversation: conversation}) %>
      <p>
        <%= conversation.last_message.body %>
        <small>
          <span class="text-muted"> — <%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>
        </small>
      </p>
      <% request = conversation.request %>
      <% if request.present? && request.user != current_user %>
        <div class="<%= dom_id request %>">
          <div class="request-action-cancel" <%= 'style="display: none;"'.html_safe unless request.status %> >
            <span class="accepted-status"> <i class="fa fa-check"></i> <%= t 'shared.request_list.accepted' %></span>
            <%= link_to t('shared.request_list.cancel'), cancel_post_requests_path(request.post, params: {request_id: request.id}), class: 'btn btn-sm btn-danger-outline', method: :patch, remote: true %>
          </div>
          <div class="request-action-accept" <%= 'style="display: none;"'.html_safe if request.status %> >
            <%= link_to t('shared.request_list.accept'), accept_post_requests_path(request.post, params: {request_id: request.id}), class: 'btn btn-sm btn-success', method: :patch, remote: true %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="media-right">
      <span class="text-nowrap">
        <%= render 'participants', conversation: conversation %>
      </span>
    </div>
  </div>
  <div class="btn-group-vertical conversation-side-btn">
    <% if conversation.is_trashed?(current_user) %>
      <%= link_to 'Restore', restore_me_conversation_path(conversation), class: 'btn btn-sm btn-info', method: :post %>
    <% else %>
      <%= link_to 'x', me_conversation_path(conversation), class: 'btn btn-sm close', method: :delete, data: {confirm: 'Do you want to archieve this conversation?'} %>
    <% end %>
  </div>
</li>
