<div class="container">
  <div class="row p-t-2">
    <div class="col-lg-4">
      <ul class="nav nav-tabs" role="tablist">
        <%= mailbox_section 'inbox', @box, params %>
        <%= mailbox_section 'sent', @box, params %>
        <%= mailbox_section 'trash', @box, params %>

        <% if @box == 'trash' %>
          <%= link_to 'Empty trash', empty_trash_me_conversations_path, class: 'btn btn-danger btn-sm pull-right', method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </ul>

      <div class="tab-content m-t-1">
        <div class="tab-pane active" id="home" role="tabpanel">
          <div>
            <ul class="list-group">
              <%= render partial: 'conversation', collection: @conversations %>
            </ul>
            <%= will_paginate @conversations %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <%= link_to 'Start conversation', new_me_message_path, class: 'btn btn-primary pull-right' %>
      <%= yield %>
    </div>
  </div>
</div>
