<%= render layout: "layout" do %>
  <% if @conversation %>
    <div class="card m-t-3">
      <div class="card-header">
        <%= @conversation.subject %>
        <div class="pull-right">
          <%= render 'participants', conversation: @conversation %>
        </div>
      </div>

      <div class="card-block">
        <div class="messages">
          <% @conversation.receipts_for(current_user).reverse.each do |receipt| %>
            <div class="media">
              <% message = receipt.message %>
              <div class="media-left">
                <%= render 'avatar', user: message.sender %>
              </div>

              <div class="media-body">
                <div class="media-heading">
                  <%= message.sender.name %> <%= t "conversation.says_at", {time: time_ago_in_words(message.created_at)} %>
                  <small class="pull-right"><%= time_ago_in_words message.created_at %></small>
                </div>
                <div class="media-content"> <%= message.body %> </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-footer">
        <%= form_tag reply_me_conversation_path(@conversation), method: :post do %>
          <div class="form-group">
            <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
            <%= hidden_field_tag 'box', params[:box] %>
          </div>
          <%= submit_tag "Send Message", class: 'btn btn-primary' %>
          <%= link_to "Back", :back, class: 'btn btn-link' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
