<div class="carousel-item <%= index == 0 ? 'active' : ''%>">
  <img src="<%= campaign.image_url %>">
   <div class="description">
    <h1>
      <%= link_to campaign.title, campaign_path(campaign) %>
    </h1>
    <p><%= truncate(campaign.description, length: 500) %></p>
    <div class="campaign-info">
      <span class="raised">
        <% campaign.campaign_items.each do |item| %>
          <span class="value label label-pill label-success"><%= "#{item.target_qty} #{item.label} - #{item.progress}%" %></span>
        <% end %> 
      </span>
    </div>
  </div>
</div>