<%= simple_form_for @campaign, :url => admin_campaign_path(@campaign), :method => :put do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :end_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 1, order: [:day, :month, :year], html5: true %>
    <%= f.input :image_url %>
    <%= f.input :description, as: :text %>
    <%= f.input :donation_instruction, as: :text %>
    <%= f.input :gmap_location, as: :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>