<h1>New Campaign</h1>

<%= simple_form_for @campaign, :url => admin_campaigns_path, :method => :post do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :donation_instruction, as: :text %>
    <%= f.input :gmap_location, as: :text %>
    <%= f.input :image_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

