<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: false, placeholder: t(".title") %>
    <%= f.input :description, label: false, as: :text, placeholder: t(".description"), :input_html => { :rows => 10 }  %>
    <%= render partial: 'layouts/file_input', locals: {f: f, label: t('.main_image')} %>
    <%= f.input :location, label: t(".location"), collection: location_options, selected: @location, input_html: { class: 'chosen-it' }  %>
    <%= f.input :category, collection: @categories, label_method: :display_name, label: t(".category"), selected: params[:category] || @post.category.try(:id), include_blank: true, placeholder: t(".location"), input_html: { class: 'chosen-it'} %>
    <%= f.input :expiring_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 1, order: [:day, :month, :year], html5: true, label: t(".expiring_date") %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: @post.persisted? ? t(".submit_edit") : t(".submit_new"), class: "btn btn-primary btn-block" %>
  </div>
<% end %>
