<div class="container">
  <h3 class="display-3"><%= t(".request_list_title") %></h3>
  <ul class="list-group">
    <% @post.requests.each do |request| %>
      <li class="list-group-item">
        <%= active_link_to(user_path(request.user), class: "btn btn-link") do %>
          <img src="<%= avatar_url_for request.user, 30 %>">
          <div><%= request.user.name %></div>
        <% end %>
        
        <% if rand(0..2) == 0 %>
          <%= form_for request, url: {action: "accept"}, html: {method: "put", class: "form-inline", remote: true} do |f| %>
            <button type="submit" class="btn btn-success-outline"><%= t(".accept") %></button>
          <% end %>
        <% else%>
          <span class="pull-xs-right">
            <%= form_for request, url: {action: "cancel"}, html: {method: "put", class: "form-inline", remote: true} do |f| %>
              <button type="submit" class="btn btn-danger-outline"><%= t(".cancel") %></button>
            <% end %>
            <span class="accepted-status pull-xs-right">
              <%= fa_icon "check" %>
              <%= t(".accepted") %>
            </span>
          </span>
        <% end %>
        <p><%= request.content %></p>
      </li>
    <% end %>
  </ul>
</div>