<div class="container">
  <!-- notice -->
  <p id="notice"><%= notice %></p>

  <!-- location selection -->
  <section class="alert alert-success location-alert" style="display: none">
    <span>
      <span><%= t(".suggest_location_message_1") %></span>
      <span class="city label label-success"></span>
      <span><%= t(".suggest_location_message_2") %></span>
    </span>
    <div class="btn-container">
      <button class="btn btn-danger no-btn"><%= t(".no_btn") %></button>
      <button class="btn btn-info yes-btn"><%= t(".yes_btn") %></button>
    </div>
  </section>

  <section class="alert alert-success location-select" style="display: none">
    <p><%= t(".location_selection_message") %></p>
    <%= select "location", "location", LOCATION_LIST.each.map {|location| I18n.locale == :vi ? [location[:displayName], location[:id]] : [location[:displayNameEN], location[:id]]} %>
    <div class="btn-container">
      <button class="btn btn-danger no-btn"><%= t(".no_btn") %></button>
      <button class="btn btn-info yes-btn"><%= t(".reload_page_btn") %></button>
    </div>
  </section>

  <!-- searching -->
  <div class="row search-container">
      <form class="form-search form-inline col-xs-11 col-md-11 col-lg-11">
        <%= select_tag 'search', search_options, multiple: true, class: "search-input", :"data-placeholder" => t("search_placeholder")%>
      </form>
      <button class="btn btn-warning-outline col-xs-1 col-md-1 col-lg-1 search-btn"><%= fa_icon "search" %></button>
  </div>

<div class="row post-content">
  <div class="col-md-2">

    <div>
      <h6><%= I18n.t('posts.form.location') %></h6>
      <%= select_tag :location_id, options_for_select(location_options, current_location), class: 'chosen-it' %>
    </div>

    <hr/>
    <div>
      <ul class="category-list" style="padding: 0">
        <h6><%= I18n.t('posts.form.category') %></h6>

        <% Category.all.each do |c| %>
          <li>
            <%= active_link_to search_posts_path({category: c.id, city: current_location}), active: /\/posts\/search\?.*category=#{c.id}/, class: 'btn btn-outline btn-sm btn-category' do %>
              <i class="fa <%= c.fa_icon %>"></i>
              <span class="text"><%= c.display_name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="col-md-10">
    <%= will_paginate @posts, class: 'top-pagination pull-right' %>

    <div class="row">
    <% @posts.each do |post| %>

      <div class="col-md-4">
        <div class="card">
          <%= link_to (image_tag post.main_image.url), post %>
          <div class="card-block">
            <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
            <p class="card-text"><%= truncate(post.description, length: 50) %></p>
            <span class="card-text"><i class="fa fa-map-marker"></i> <%= location_name(post.location) %></span>
            <%= active_link_to I18n.t('posts.claim'), post_path(post), class: 'btn btn-primary pull-right' %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
