<div class="container">
  <p id="notice"><%= notice %></p>

<!-- searching -->
<div class="row search-container">
    <form class="form-search form-inline col-xs-11 col-md-11 col-lg-11">
    	<%= select_tag 'search', search_options, multiple: true, class: "search-input", :"data-placeholder" => t("search_placeholder")%>
    </form>
    <button class="btn btn-warning-outline col-xs-1 col-md-1 col-lg-1 search-btn"><%= fa_icon "search" %></button>
</div>

<div class="row">
  <div class="col-md-2"> 
    
    <ul class="category-list">
    <%= form_tag('/posts', method: :get) do %>
      <%= label_tag I18n.t('posts.form.location') %>
      <%= select_tag :location_id, options_for_select(location_options) %>

      <hr/>
      <%= label_tag I18n.t('posts.form.category') %>
      <% Category.all.each do |c| %>
        <li>
          <%= check_box_tag c.display_name %>
          <%= label_tag c.display_name %>
        </li>
      <% end %>
    <% end %>
    </ul>

  </div>

  <div class="col-md-9"> 
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card">
          <%= link_to (image_tag post.main_image_url), post %>
          <div class="card-block">
            <h4 class="card-title"><%= link_to post.title, post_path(post) %></h6></h4>
            <p class="card-text"><%= truncate(post.description, length: 50) %></p>
            <span class="card-text"><i class="fa fa-map-marker"></i> <%= post.location %></span>
            <%= active_link_to I18n.t('posts.claim'), post_path(post), class: 'btn btn-primary pull-right' %>
          </div> 
        </div> 
      </div> 
    <% end %>
  </div>
</div>