<div class="container-fluid no-pad detail-page">
  <div class="row no-pad">
    <div class="col-md-3 sidebar">
      <h4 class="location">
        <%= fa_icon "map-marker" %>
        <%= @post.location %>
      </h4>
      <div class="clearfix"></div>
      <a href="#">
        <button class="btn btn-lg btn-block btn-primary"> <%= t(".request_now") %> </button>
      </a>  
      <a href="#">
        <button class="btn btn-lg btn-block btn-info"> <%= t(".send_message") %> </button>
      </a> 
      <div class="item-list">
      </div>
    </div>
    <div class="col-md-9 content">
      <div class="hero-img hidden-sm-down" style="background-image: url(<%= @post.main_image_url %>)"><!-- url(@post.main_image.url) --></div>
      <div class="container">
        <h3><%= @post.title %></h3>
        <div class="extended-description">
          <%= @post.description %>
        </div>
      </div>  
    </div>
  </div>
</div>
