<div class="container detail-page p-b-3">
  <div class="row">

    <!-- sharing -->
    <div class="sharing col-md-1 col-lg-1">
      <div class="addthis_sharing_toolbox"></div>
    </div>

    <!-- content -->
    <div class="post-content col-md-8 col-lg-8">
      <h2><%= @post.title %></h2>
      <h6 class="text-uppercase">
        <%= @post.created_at.strftime("%b %d, %Y") %>
        <%= fa_icon "circle" %>
        by <%= @post.user.name %>
        <%= fa_icon "circle" %>
        5 requests
      </h6>
      <%= image_tag @post.main_image.url, class: "img-responsive post-image", style: 'width: 100%' %>
      <div class="extended-description p-t-2">
        <%= @markdown.render(@post.description).html_safe %>
      </div>
    </div>

    <!-- tool bar -->
    <div class="toolbar col-md-3 col-lg-3">
      <ul class="list-group more-info">
        <li class="list-group-item">
          <%= fa_icon "map-marker" %>
          <%= location_name(@post.location) %>
        </li>
        <li class="list-group-item">
          <div class="<%= @post.status %>">
            <% if @post.published? %>
              <%= fa_icon "check" %>
              <%= t("posts.status.published") %>
            <% elsif @post.closed %>
              <%= fa_icon "minus-circle" %>
              <%= t("posts.status.closed") %>
            <% else %>
              <%= fa_icon "ban" %>
              <%= t("posts.status.drafted") %>
            <% end %>
          </div>
        </li>
      </ul>

      <button class="btn btn-primary btn-block" data-toggle="modal" data-target=".claim-model"><%= t(".request_now") %></button>
      <button class="btn btn-info btn-block" data-toggle="modal" data-target=".send-message-model"><%= t(".send_message") %></button>

      <% if current_user != nil && @post.user.id == current_user.id %>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      <% end %>
    </div>

    <div class="modal fade claim-model">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><%= t(".claim_model_title") %></h4>
          </div>
          <div class="modal-body">
            <%= form_tag(request_post_post_path(@post), method: 'post') %>
              <% if user_signed_in? %>
                <input type="hidden" name="request[sender_id]" value="<%= current_user.id %>">
              <% end %>
              <fieldset class="form-group">
                <textarea class="form-control" name="request[message]" rows="3" placeholder="<%= t(".claim_model_message") %>"></textarea>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(".close") %></button>
            <button type="button" class="btn btn-primary send-btn"><%= t(".request_now") %></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade send-message-model">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><%= t(".send_message_model_title") %></h4>
          </div>
          <div class="modal-body">
            <%= form_tag(send_message_post_path(@post), method: 'post', remote: true) %>
            <% if user_signed_in? %>
              <input type="hidden" name="request[sender_id]" value="<%= current_user.id %>">
            <% end %>
              <fieldset class="form-group">
                <textarea class="form-control" name="request[message]" rows="3" placeholder="<%= t(".send_message_model_message") %>"></textarea>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(".close") %></button>
            <button type="button" class="btn btn-primary send-btn">
              <span><%= t(".send_message") %></span>
              <%= fa_icon "spinner" %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%= javascript_tag do %>
  window.sendingMessageText = "<%= t(".sendingMessage") %>";
  window.sentMessageSuccess = "<%= t(".sentMessageSuccess") %>";
  window.sendMessageText = "<%= t(".send_message") %>";
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $(".post-image").error(function () {
      $(this).hide();
    });

    var sendingMessage = false;
    var sendMessageForm = $(".send-message-model form");
    var sendMessageBtn = $(".send-message-model .send-btn");
    var sendMessageBtnContent = sendMessageBtn.find("span");
    sendMessageForm.bind('ajax:complete', function() {
      sendMessageBtnContent.html(sentMessageSuccess);

      setTimeout(function () {
        sendMessageForm.find("textarea").val("");
        $(".send-message-model .close").click();
        sendMessageBtn.removeClass("loading");
        sendMessageBtnContent.html(sendMessageText);
        sendingMessage = false;
      }, 1000);
    });

    sendMessageBtn.click(function () {
      if (!sendingMessage) {
        sendingMessage = true;
        sendMessageBtnContent.html(sendingMessageText);
        sendMessageBtn.addClass("loading");
        sendMessageForm.submit();
      }
    });
  });
</script>
