<div class="container detail-page p-b-3">
  <div class="row">

    <!-- sharing -->
    <div class="sharing col-md-1 col-lg-1">
      <div class="addthis_sharing_toolbox"></div>
    </div>

    <!-- content -->
    <div class="post-content col-md-8 col-lg-8">
      <h2><%= @post.title %></h2>
      <h6 class="text-uppercase">
        <%= @post.created_at.strftime("%b %d, %Y") %>
        <%= fa_icon "circle" %>
        by <%= @post.user.name %>
        <%= fa_icon "circle" %>
        5 requests
      </h6>
      <%= image_tag @post.main_image.url, class: "img-responsive post-image", style: 'width: 100%' %>
      <p class="extended-description">
        <%= @post.description %>
      </p>
    </div>

    <!-- tool bar -->
    <div class="toolbar col-md-3 col-lg-3">
      <ul class="list-group more-info">
        <li class="list-group-item">
          <%= fa_icon "map-marker" %>
          <%= location_name(@post.location) %>
        </li>
        <li class="list-group-item">
          <div class="<%= @post.status %>">
            <% if @post.published? %>
              <%= fa_icon "check" %>
              <%= t("posts.status.published") %>
            <% elsif @post.closed %>
              <%= fa_icon "minus-circle" %>
              <%= t("posts.status.closed") %>
            <% else %>
              <%= fa_icon "ban" %>
              <%= t("posts.status.drafted") %>
            <% end %>
          </div>
        </li>
      </ul>

      <% if current_user == nil || @post.user.id != current_user.id %>
        <button class="btn btn-primary btn-block"><%= t(".request_now") %></button>
        <button class="btn btn-info btn-block"><%= t(".send_message") %></button>
      <% elsif @post.user.id == current_user.id %>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      <% end %>
    </div>

    <div class="col-lg-3 col-lg-offset-0 col-md-6" style="display:none">
      <%= form_tag(request_post_post_path(@post), method: 'post') %>
        <fieldset class="form-group">
          <input type="text" class="form-control" name="request[name]" placeholder="Tên của bạn">
        </fieldset>
        <fieldset class="form-group">
          <input type="text" class="form-control" name="request[email_or_phone]" placeholder="Email / số điện thoại">
        </fieldset>
        <fieldset class="form-group">
          <input type="text" class="form-control" name="request[address]" placeholder="Địa chỉ">
        </fieldset>
        <fieldset class="form-group">
          <textarea class="form-control" name="request[message]" rows="3" placeholder="Nội dung nhắn"></textarea>
        </fieldset>
        <button type="submit" class="btn btn-lg btn-block btn-primary">
          <%= t(".request_now") %>
        </button>
      </form>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(".post-image").error(function () {
    $(this).hide();
  });
</script>
