<%= content_for(:meta_og) do %>
    <meta property="og:title" content="<%= @post.title %>" />
    <meta property="og:type" content="article" />
    <meta property="og:published_time" content="<%= @post.created_at.strftime('%Y-%m-%d %H:%M') %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="<%= truncate(strip_tags( @post.description ), length: 50) %>" />
    <% if @post.main_image %>
        <%= tag :meta, property: 'og:image', content: "#{@post.main_image.url}" %>
    <% end %>
<% end %>


<div class="container post-container detail-page p-b-3">
  <div class="row">

    <!-- sharing -->
    <div class="sharing col-md-1 col-lg-1">
      <div class="addthis_sharing_toolbox"></div>
    </div>

    <!-- content -->
    <div class="post-content col-md-8 col-lg-8">
      <h2><%= @post.title %></h2>
      <h6 class="text-uppercase">
        <%= @post.created_at.strftime("%b %d, %Y") %>
        <%= fa_icon "circle" %>
        by <%= @post.user.name %>
        <%= fa_icon "circle" %>
        <span class="request-count"><%= pluralize(@post.requests.count, "request") %></span>
      </h6>
      <%= image_tag @post.main_image.url, class: "img-responsive post-image", style: 'width: 100%' %>
      <div class="extended-description p-t-2">
        <%= @markdown.render(@post.description).html_safe %>
      </div>
    </div>

    <!-- tool bar -->
    <div class="toolbar col-md-3 col-lg-3">
      <ul class="list-group more-info">
        <li class="list-group-item">
          <%= fa_icon "map-marker" %>
          <%= location_name(@post.location) %>
        </li>
        <li class="list-group-item">
          <div class="<%= @post.status %>">
            <% if @post.published? %>
              <%= fa_icon "check" %>
              <%= t("posts.status.published") %>
            <% elsif @post.closed %>
              <%= fa_icon "minus-circle" %>
              <%= t("posts.status.closed") %>
            <% else %>
              <%= fa_icon "ban" %>
              <%= t("posts.status.drafted") %>
            <% end %>
          </div>
        </li>
      </ul>

      <button class="js-required-login btn btn-primary btn-block" data-toggle="modal" data-target-x=".claim-model"><%= t(".request_now") %></button>
      <button class="js-required-login btn btn-info btn-block" data-toggle="modal" data-target-x=".send-message-model"><%= t(".send_message") %></button>

      <% if user_signed_in? && @post.user.id == current_user.id %>
        <button class="btn btn-success btn-block request-list-btn" onclick="scrollToRequestList()"><%= t(".show_request_list") %></button>
      <% end %>
    </div>

    <div class="modal fade claim-model">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><%= t(".claim_model_title") %></h4>
          </div>
          <div class="modal-body">
            <%= form_tag([@post, @post.requests.build], remote: true) %>
              <% if user_signed_in? %>
                <input type="hidden" name="request[sender_id]" value="<%= current_user.id %>">
              <% end %>
              <fieldset class="form-group">
                <textarea class="form-control" name="request[content]" rows="3" placeholder="<%= t(".claim_model_message") %>"></textarea>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(".close") %></button>
            <button type="button" class="btn btn-primary send-btn">
              <span><%= t(".request_now") %></span>
              <%= fa_icon "spinner" %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade send-message-model">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><%= t(".send_message_model_title") %></h4>
          </div>
          <div class="modal-body">
            <%= form_tag(send_message_post_path(@post), method: 'post', remote: true) %>
            <% if user_signed_in? %>
              <input type="hidden" name="request[sender_id]" value="<%= current_user.id %>">
            <% end %>
              <fieldset class="form-group">
                <textarea class="form-control" name="request[message]" rows="3" placeholder="<%= t(".send_message_model_message") %>"></textarea>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(".close") %></button>
            <button type="button" class="btn btn-primary send-btn">
              <span><%= t(".send_message") %></span>
              <%= fa_icon "spinner" %>
            </button>
          </div>
        </div>
      </div>
    </div>

    <% if user_signed_in? && @post.user.id == current_user.id %>
      <section id="request-list" class="request-list jumbotron jumbotron-fluid col-md-8 col-md-offset-2">
        <%= render "shared/request_list" %>
      </section>
    <% end %>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="social-share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"><%= I18n.t('posts.social_share.title') %></h4>
        </div>
        <div class="modal-body">
          <h6><%= I18n.t('posts.social_share.message') %></h6>

          <div class="btn-group social-btn-group" role="group" aria-label="Basic example">
            <button class="sharer button" data-sharer="facebook" data-url="<%= request.original_url %>">Share on Facebook</button>

            <button class="sharer button" data-sharer="googleplus" data-url="<%= request.original_url %>">Share on Google+</button>

            <button class="sharer button" data-sharer="linkedin" data-url="<%= request.original_url %>">Share on Linkedin</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= javascript_tag do %>
  window.sendingMessageText = "<%= t(".sendingMessage") %>";
  window.sentMessageSuccess = "<%= t(".sentMessageSuccess") %>";
  window.sendMessageText = "<%= t(".send_message") %>";
  window.requestCount = <%= @post.requests.count %>;
  window.shouldShowRequestList = <%= user_signed_in? && @post.user.id == current_user.id %>;
  window.signed_in = <%= user_signed_in? %>;
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $(".post-image").error(function () {
      $(this).hide();
    });

    var registerFromEvent = function (modalSelector, originalText, callback) {
      var sendingMessage = false;
      var messageForm = $(modalSelector + " form");
      var messageBtn = $(modalSelector + " .send-btn");
      var messageBtnContent = messageBtn.find("span");
      messageForm.bind('ajax:complete', function(e, status, message) {
        if (callback) {
          callback(status.responseText)
        }

        messageBtnContent.html(sentMessageSuccess);

        setTimeout(function () {
          messageForm.find("textarea").val("");
          $(modalSelector + " .close").click();
          messageBtn.removeClass("loading");
          messageBtnContent.html(originalText);
          sendingMessage = false;
        }, 1000);
      });

      messageBtn.click(function () {
        if (!sendingMessage) {
          sendingMessage = true;
          messageBtnContent.html(sendingMessageText);
          messageBtn.addClass("loading");
          messageForm.submit();
        }
      });
    }

    registerFromEvent(".send-message-model", sendMessageText);
    registerFromEvent(".claim-model", sendMessageText);

    window.registerEventForRequestActionBtns = function () {
      for (var i = 0; i < window.requestCount; i++) {
        registerFromEvent(".request-content-" + i, "Somthing...");
      }
    }

    registerEventForRequestActionBtns();

    if (window.location.search.indexOf("new_post=true") >= 0) {
      $('#social-share').modal()
    }


    var showRequestList = function () {
      $('body, html').animate({
          scrollTop: $("#request-list").offset().top - 77
      }, 1000);
    }

    if (shouldShowRequestList) {
      setTimeout(showRequestList, 1000);
    }

    window.scrollToRequestList = function () {
      showRequestList();
    };

    $(".js-required-login").click(function (event) {
      event.preventDefault();

      if (!window.signed_in) {
        window.location.href = '/users/sign_in?return_url=' + window.location.href;
      }
      else {
        model = $(event.target).attr('data-target-x');
        $(model).modal()
      }
    });
  });
</script>
