<%= simple_form_for @campaign, :url => me_campaign_path(@campaign), :method => :put do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :end_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 1, order: [:day, :month, :year], html5: true %>
    <%= f.input :image_url %>
    <%= f.input :description, as: :text, :input_html => { :rows => 10 } %>
    <%= f.input :donation_instruction, as: :text, :input_html => { :rows => 4 } %>
    <%= f.input :gmap_location, as: :text %>
    <%= f.input :categories, collection: Category.all, label_method: :display_name, selected: @campaign.categories.map{|category| category.id}, input_html: { multiple: true, class: 'form-control chosen-it' }, include_blank: false %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
