<div class="card col-xs-12 col-sm-12 col-md-12 col-lg-6 ">
  <center>
    <%= image_tag(campaign.image_url, class: "card-img-center img-responsive") %>
  </center>
  <div class="card-block">
    <h4 class="card-title"><%= link_to campaign.title, campaign_path(campaign) %></h6></h4>
    <p class="card-text"><%= truncate(campaign.description, length: 200) %></p>
  </div>
  <ul class="list-group list-group-flush">
    <% campaign.campaign_items.each do |item| %>
    <li class="list-group-item">
      <%= "#{item.label} - #{item.progress}%" %>
      <progress class="progress progress-striped progress-success" value="<%= item.progress %>" max="100"></progress>
    </li>
    <% end %> 
  </ul>
</div>

<!--

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
  <div class="panel panel-default">
      <div class="row padall">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <span></span>
              <%= image_tag(campaign.image_url, class: "card-img-center img-responsive") %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
              <div class="clearfix">
                  <div class="pull-left">
                      <span class="fa fa-dollar icon"> 499,000</span>
                  </div>
                  <div class="pull-right">
                      900 SqFt | 1 Bedroom | 1 Bathroom
                  </div>
              </div>
              <div>
                  <h4><span class="fa fa-map-marker icon"></span> 1021 N Garfield St</h4>
                  Build 2007. Close to Merto. <span class="fa fa-lock icon pull-right"> Sold</span>
              </div>
          </div>
      </div>
  </div>
</div>
-->

<!--
<div class="card col-md-6">
  <%= image_tag(campaign.image_url, class: "card-img-center img-responsive") %>
  <div class="card-block">
    <h4 class="card-title"><%= link_to campaign.title, campaign_path(campaign) %></h6></h4>
    <p class="card-text"><%= truncate(campaign.description, length: 50) %></p>
  </div>
  <ul class="list-group list-group-flush">
    <% campaign.campaign_items.each do |item| %>
    <li class="list-group-item">
      <%= "#{item.label} - #{item.progress}%" %>
      <progress class="progress progress-striped progress-success" value="<%= item.progress %>" max="100"></progress>
    </li>
    <% end %> 
  </ul>
  <div class="card-block">
    <a href="#" class="card-link" data-toggle="popover" data-placement="bottom" data-content="Content">Donate Now!</a>
  </div>
</div>
-->