<%= content_for(:meta_og) do %>
    <meta property="og:title" content="<%= @campaign.title %>" />
    <meta property="og:type" content="article" />
    <meta property="og:published_time" content="<%= @campaign.created_at.strftime('%Y-%m-%d %H:%M') %>" />
    <meta property="og:description" content="<%= truncate(strip_tags( @campaign.description ), length: 50) %>" />
    <% if @campaign.image_url %>
        <%= tag :meta, property: 'og:image', content: "http://#{request.host}#{@campaign.image_url}" %>
    <% end %>
<% end %>


<div class="container-fluid no-pad events-detail">
  <div class="row no-pad">
    <div class="col-md-12 event-content">
      <div class="hero-img hidden-sm-down" style="background-image: url(<%= @campaign.image_url %>); background-size: cover;"> </div>
      <div class="container">
        <h1> <%= @campaign.title %> </h1> 
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_sharing_toolbox"></div>
      
        <hr/>
        <div class="col-md-12">
          <a href="#donations"><span><b><%= "#{@campaign.donations.count} đóng góp" %></b></span></a> | 
          
          <% @campaign.campaign_items.each do |item| %>
            <a href="#money"><span><b><%= "#{item.collected_qty} #{item.label}" %></b></span></a> |
          <% end %>
        </div>

        <div class="extended-description col-md-6">
          <%= @campaign.description %>
          <div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5"></div></div>

        <div class="col-md-6">
          <h3> <%= "Quyên góp sẽ kết thúc trong #{@campaign.remaining_days} ngày nữa" %> </h3> 
          
          <% @campaign.campaign_items.each do |item| %>
            <h4> <%= "#{item.label} - #{item.progress}%" %> </h4> 
            <progress class="progress progress-striped progress-success" value="<%= item.progress %>" max="100"></progress>
          <% end %>

          <p><%= @campaign.donation_instruction %></p>
          <p>
          <span>Bạn muốn quyên góp? <button type="button" class="btn btn-success">Liên hệ</button></span></p>
        </div>

        <div class="col-md-12">
          <%= @campaign.location %>
        </div>

        <div class="col-md-12">
          <h3> Hornorable donations </h3>
          <ul class="list-group" id="donations">
            <% @campaign.donations.each do |donation| %>
              <li class="list-group-item"><%= "#{donation.name} - #{donation.description}" %></li>
            <% end %>
          </ul>
        </div>
      </div>  
    </div>
  </div>
</div>