<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Fa icon:</strong>
  <%= @category.fa_icon %>
</p>

<p>
  <strong>Color:</strong>
  <%= @category.color %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @category.img_url %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
