<!DOCTYPE html>
<html>
<head>
  <title>Freebie</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>





  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <% if content_for?(:meta_og) %>
      <%= yield :meta_og %>
  <% else %>
      <meta property="og:title" content="Freebie Community" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://freebie.vn" />
      <%= tag :meta, property: 'og:image', content: image_url('freebie.jpg') %>
  <% end %>

</head>
<body>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-569662315d82736c" async="async"></script>
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1683294941955616";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="header">
  <div class="brand container">
    <a href="/">
      <%= fa_icon "recycle" %>
      <span class="brand-name brand-first-name">Free</span>
      <span class="brand-name brand-last-name">bie</span>
    </a>
  </div>
  <div class="navbar-header">
    <div class="navbar-container container">
      <nav class="navbar navbar-light bg-faded">
        <form class="form-search form-inline pull-xs-right">
          <input class="form-control" type="text" placeholder="<%= I18n.t "search_placeholder" %>">
          <button class="btn" type="submit">
            <%= fa_icon "search" %>
          </button>
        </form>
        <a href="" class="cd-secondary-nav-trigger"><%= fa_icon "bars" %></a>

        <ul class="nav navbar-nav">
          <li class="nav-item posts">
            <%= active_link_to I18n.t('menu_item_posts'), posts_path, class: 'nav-link' %>
          </li>
          <li class="nav-item compaigns">
            <%= active_link_to I18n.t("menu_item_campaigns"), campaigns_path, class: 'nav-link' %>
          </li>

          <% unless user_signed_in? %>
            <li class="nav-item login pull-xs-right">
              <%= active_link_to I18n.t("menu_item_login"), new_user_session_path, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item edit-profile pull-xs-right">
              <div class="btn-group">
                <div type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="<%= avatar_url_for current_user, 30 %>">
                </div>
                <div class="dropdown-menu">
                  <%= active_link_to I18n.t("menu_item_new_posts"), new_post_path, class: 'dropdown-item' %>
                  <div class="dropdown-divider"></div>
                  <%= active_link_to I18n.t("menu_item_my_posts"), my_posts_path, class: 'dropdown-item' %>
                  <div class="dropdown-divider"></div>
                  <%= active_link_to I18n.t("menu_item_edit_profile"), edit_user_registration_path, class: 'dropdown-item' %>
                  <div class="dropdown-divider"></div>
                  <%= active_link_to I18n.t("menu_item_logout"), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              </div>
            </li>

            <li class="nav-item message pull-xs-right">
              <%= active_link_to me_conversations_path, class: 'nav-link' do %>
                <%= fa_icon "comments" %>
                <% if current_user.unread_inbox_count > 0 %>
                  <span class="label label-pill label-danger"><%= current_user.unread_inbox_count %></span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="main-content <%= controller_name %> <%= action_name %>">
  <%= flash_messages %>
  <%= content_for?(:content) ? yield(:content) : yield %>
</div>

<div class="onboarding-container">
  <div class="content">
    <%= fa_icon "close" %>
    <section>
      <div class="welcome-message">
        <h1><%= I18n.t "onboarding_welcome" %></h1>
        <h4><%= I18n.t "onboarding_instruction" %></h4>
      </div>
      <ul>
        <a href="<%= posts_path %>">
          <li>
            <%= fa_icon "search" %>
            <p><%= I18n.t "search_for_whole_post" %></p>
          </li>
        </a>
        <a href="<%= new_post_path %>">
          <li>
            <%= fa_icon "archive" %>
            <p><%= I18n.t "give_your_old_stuffs" %></p>
          </li>
        </a>
        <a href="<%= campaigns_path %>">
          <li>
            <%= fa_icon "life-ring" %>
            <p><%= I18n.t "create_new_campaigns" %></p>
          </li>
        </a>
      </ul>
    </section>
  </div>
</div>

<% if current_page?(root_path) %>
  <script type="text/javascript">
    // onboarding
    if (typeof(Storage) !== "undefined") {
      var onboardingView = $(".onboarding-container");
      if (!localStorage.shouldNotShowOnboarding || localStorage.shouldNotShowOnboarding !== "true") {
        localStorage.shouldNotShowOnboarding = true;

        onboardingView.show();
        onboardingView.find(".fa-close").click(function () {
          onboardingView.fadeOut();
        });
      }
    }
  </script>
<% end %>
</body>
</html>
